<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>Haitaoshop</title>
   <!--  如果使用了 Rails 默认包含的 turbolinks gem，并使用了 data-turbolinks-track 选项，Turbolinks 就会检查静态资源文件是否有更新，如果有更新就加载到页面中：
 -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body class='<%= controller.controller_name %>'>
	<div id="header">
		<!-- <%= image_tag'logo.png',alt:'ThePragmaticBookshelf'%> -->
		 <header>header
		 </header>
		<span class="title"><%= @page_title%></span>
		  <a id="menu" class="header__menu">
	          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
	            <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"/>
	          </svg>
	        </a>
	</div>
	<div id="main_body">
		<div id="columns">
			<div id="side">
				
					<% if @cart %>
						<%= hidden_div_if(@cart.line_items.empty?,id: 'cart') do %>
							<%= render(@cart) %>
						<%end%>
					<% end %> 
		  <nav id="drawer" class="nav">
		  	<ul class="nav__list">
					<li class="nav__item"><a href="/">Home</a></li>
					<li class="nav__item"><a href="http://www..../faq">Questions</a></li>
					<li class="nav__item"><a href="http://www..../news">News</a></li>
					<li class="nav__item"><a href="http://www..../contact">Contact</a></li>
					<li><a href="#"><%= Time.now%></a></li>
				</ul>
				<% if session[:user_id] %>
					<ul class="nav__list">
						<li class="nav__item"><%= link_to 'Orders',orders_path %></li>
						<li class="nav__item"><%= link_to 'Products',products_path %></li>
						<li class="nav__item"><%= link_to 'Users',users_path %></li>
					</ul>
		    </nav>
			
					<%= button_to 'Logout', logout_path, method: :delete ,class: 'btn btn-default'%>
				<%end %>
			</div>
		</div>
		<div id="main">
	   		 <%= yield %> 
		</div>
	
	</div>
 <footer>footer</footer>
  </body>
</html>