<!DOCTYPE html>
<html>
  <head>
    <title>Haitaoshop</title>
   <!--  如果使用了 Rails 默认包含的 turbolinks gem，并使用了 data-turbolinks-track 选项，Turbolinks 就会检查静态资源文件是否有更新，如果有更新就加载到页面中：
 -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body class='<%= controller.controller_name %>'>
	<div id="header">
		<!-- <%= image_tag'logo.png',alt:'ThePragmaticBookshelf'%> -->
		 <header>header</header>
		<span class="title"><%= @page_title%></span>
	</div>
	<div id="main_body">
		<div id="columns">
			<div id="side">
				
					<% if @cart %>
						<%= hidden_div_if(@cart.line_items.empty?,id: 'cart') do %>
							<%= render(@cart) %>
						<%end%>
					<% end %> 
		
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="http://www..../faq">Questions</a></li>
					<li><a href="http://www..../news">News</a></li>
					<li><a href="http://www..../contact">Contact</a></li>
					<li><a href="#"><%= Time.now%></a></li>
				</ul>
				<% if session[:user_id] %>
					<ul>
						<li><%= link_to 'Orders',orders_path %></li>
						<li><%= link_to 'Products',products_path %></li>
						<li><%= link_to 'Users',users_path %></li>
					</ul>
					<%= button_to 'Logout', logout_path, method: :delete %>
				<%end %>
			</div>
		</div>
		<div id="main">
	   		 <%= yield %> 
		</div>
	
	</div>
 <footer>footer</footer>
  </body>
</html>