<!DOCTYPE html>
<html>
  <head>
    <title>Haitaoshop</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body class='<%= controller.controller_name %>'>
	<div id="banner">
		<%= image_tag'logo.svg',alt:'ThePragmaticBookshelf'%>
		<span class="title"><%= @page_title%></span>
	</div>
	<div id="columns">
		<div id="side">
			
				<% if @cart %>
					<%= hidden_div_if(@cart.line_items.empty?,id: 'cart') do %>
						<%= render(@cart) %>
					<%end%>
				<% end %> 
	

			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="http://www..../faq">Questions</a></li>
				<li><a href="http://www..../news">News</a></li>
				<li><a href="http://www..../contact">Contact</a></li>
				<li><a href="#"><%= Time.now%></a></li>
			</ul>
		</div>
	</div>
	<div id="main">
   		 <%= yield %> 
	</div>
  </body>
</html>
